@import "../../../../config";

*{
    box-sizing: border-box;
}
.content{
    background: white;
}

.container{
    // width: 80%;
    padding: 2em;
    margin: auto;
    font-family: $font-family;

    .header{
        background: white;
        position: sticky;
        top: 0;
        padding: 20px;
        color: gray;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        margin-bottom: 2em;
        p{
            font-weight: bold;
            margin: auto 1em;
            cursor: pointer;
        }
        .active{
            color: $green;
            position: relative;
            &::after{
                content: "";
                width: 100%;
                height: 2px;
                background: $green;
                position: absolute;
                transform: translate(-50%, -50%);
                bottom: -70%;
                left: 50%;
            }
        }
    }

    .content-item{

        .empty{
            text-align: center;
            font-weight: 900;
            font-size: 70px;
            margin: 4em auto;
            text-transform: uppercase;
            color: gray;
        }

        table{
            border-collapse: collapse;
            width: 100%;

            // & tr:nth-child(even){
            //     background-color: #f2f2f2;
            // }

            & tr:hover {
                background-color: #ddd;
            }

            & th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                color: black;
            }
            th, td {
                padding: 15px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            tr{
                cursor: pointer;
                td.produit{
                    display: flex;
                    place-items: center;
                    gap: .5em;
                    img{
                        cursor: pointer;
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            .pending{
                background: lighten(orange, 40);
                border-radius: 20px;
                padding: 10px 15px;
                color: orange;
                font-weight: bold;
            }
            .complet{
                background: lighten($green, 43);
                border-radius: 20px;
                padding: 10px 15px;
                color: $green;
                font-weight: bold;
            }
            .priority{
                color: $green;
                font-weight: bold;
            }
            .not-priority{
                color: black;
                font-weight: bold;
            }
            .annuler{
                background: lighten(red, 43);
                border-radius: 20px;
                padding: 10px 15px;
                color: red;
                font-weight: bold;
            }
            span{
                font-size: 12px;
            }
        }
        form{
            p{
                margin:4em 0 0 .25em;
                font-weight: bold;
                font-size: 15px;
                line-height: 0;
            }
        }
        .call-to-action{
            width: 30%;
            text-align: center;
        }
        .form-group{
            margin: 2em 0;
            width: 30%;
            p{
                font-weight: bold;
                margin-bottom: 1.5em;
            }
            .form-element{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background-color: #f2f2f2;
                border-radius: 8px;
                padding: 5px;
                margin-top: 1em;

                .material-symbols-rounded{
                    font-variation-settings:
                    'FILL' 1,
                }
                .form-control{
                    width: 100%;
                    background: inherit;
                    border: none;
                    outline: none;
                }
            }
            input[type='checkbox']{
                margin-right: .5em;
                accent-color: $green;
            }
        }

        .collaborators{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 1.5em;
            flex-wrap: wrap;
            .collaborator{
                width: 15%;
                padding: 1.5% 10px 10px 10px;
                background: #f2f2f2;
                border-radius: 8px;
                text-align: center;
                text-transform: uppercase;
                img{
                    border-radius: 50%;
                    margin-bottom: 1.2em;
                }
                .name{
                    font-weight: bold;
                    font-size: 13px;
                }
                .text{
                    font-size: 12.5px;
                    line-height: 10px;
                    margin: 0 auto;
                }
                .action-space{
                    margin-top: 2em;
                    margin-bottom: 0;
                    line-height: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
