@import "../../../config";

.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

h3{
    text-align: left;
    margin: 2em 0;
}

input[type="checkbox"]{
    margin-right: .7em;
    height: 17px;
    width: 17px;
    accent-color: $green;
}

button{
    margin-bottom: 2.5em;
}
.container{
    width: 50%;
    margin: 2em auto;
    text-align: center;
    .brand{
        width: 5em;
        height: 5em;
        margin: 2em auto;
    }

    .form-group{
        width: 100%;
        text-align: left;
        margin: 1em 0;
        b{
            color: $green;
        }
        .form-control{
            font-family: $font-family;
            width: 100%;
            border: none;
            height: 2.5em;
            outline: 1px solid black;
            border-radius: 4px;
            margin-top: .5em;
            margin-left: 0;
            padding: 0 15px;
            box-sizing: border-box;
            cursor: pointer;
            &:focus{
                outline: 1px solid $green;
            }
        }
    }


}
