
<div class="body">


    <div class="container">

        <p class="logo">{{data.bness.name}}</p>

        <!-- <p class="branch">Branche(s)</p> -->


        <div class="branchs">

            <div class="item"
                [routerLink]="['/dashboard/branch']"
                [queryParams]="{
                    id: branch.managed_by,
                    emplacement: branch.quartier,
                    avenue: branch.address.avenue,
                    n_: branch.address.numero,
                }"
                *ngFor="let branch of data.branch"
            >

                <p class="quartier">
                    {{ branch.quartier }}
                </p>

                <p class="phone">
                    {{ branch.phone }}
                </p>

                <div class="d-flex">
                    <div class="img">
                        <img src="https://ui-avatars.com/api/?background=random&name={{branch.managed_by === data.user.user_id ? data.user.first_name : branch.managed_by}}" alt="">
                        <p class="managed-by">
                            {{
                                branch.managed_by === data.user.user_id ?
                                data.user.first_name : branch.managed_by
                            }}
                        </p>
                    </div>
                    <span *ngIf="branch.is_headquarter" class="material-symbols-rounded">
                        home
                    </span>
                </div>
            </div>

            <div [routerLink]="['/dashboard/create-branch']" *ngIf="data.permission.type == 'ADMIN'" class="add">
                <span class="material-symbols-outlined">
                    add
                </span>
            </div>


        </div>

    </div>



</div>


<router-outlet></router-outlet>
