
<div class="body">


    <div class="container" *ngIf="data">

        <p class="logo" *ngIf="!has_access" [routerLink]="['/']" >{{data.bness.name}}</p>

        <p class="branch" *ngIf="!has_access" >Branche(s)</p>


        <div class="branchs" *ngIf="!has_access">

            <div class="item"
                [routerLink]="['/dashboard/branch']"
                [queryParams]="{
                    id: branch.branch_id
                }"
                *ngFor="let branch of data.branch"
            >

                <p class="quartier">
                    {{ branch.quartier }}
                </p>

                <p class="phone">
                    {{ branch.phone }}
                </p>

                <div class="d-flex">
                    <div class="img">
                        <img src="https://ui-avatars.com/api/?background=random&name={{branch.managed_by === data.user.user_id ? data.user.first_name : branch.managed_by}}" alt="">
                        <p class="managed-by">
                            {{
                                branch.managed_by === data.user.user_id ?
                                data.user.first_name : branch.managed_by
                            }}
                        </p>
                    </div>
                    <span *ngIf="branch.is_headquarter" class="material-symbols-rounded">
                        home
                    </span>
                </div>
            </div>

            <div [routerLink]="['/dashboard/create-branch']" *ngIf="data.permission.type == 'ADMIN'" class="add">
                <span class="material-symbols-outlined">
                    add
                </span>
            </div>


        </div>

        <div class="plans" *ngIf="has_access">
            <p class="sub-title" >Trouver vos plans</p>

            <div class="all">
                <p></p>
                <p class="title" [routerLink]="['/']">Trouver le <span>Bon Plan</span> pour <span>{{data.bness.name}}</span></p>
                <p (click)="logOut()" >Se deconnecter</p>
            </div>

            <div class="subscriptions">

                <div
                    class="subscription"
                    *ngFor="let sub of subscription; let i = index"
                >

                    <p class="subs-title">{{ sub }}</p>

                    <p class="price">${{ prices[i] }} <sup>mois</sup></p>

                    <p class="text" *ngFor="let text of subs[i]">
                        <span class="material-symbols-outlined">
                            radio_button_checked
                        </span>
                        <span>
                            {{ text }}
                        </span>
                    </p>

                    <div
                        class="call-to-action"
                        [routerLink]="['/dashboard/plan']"
                        [queryParams]="{
                            subscription: sub,
                            price: prices[i]
                        }"
                    >
                        Souscrire
                    </div>

                </div>


            </div>

        </div>

    </div>



</div>


<router-outlet></router-outlet>
