
<div class="body-element" *ngIf="!isLoading" >

    <div class="scroller"></div>

    <nav class="navbar" #navbar>

        <div class="brand" [routerLink]="['/']">
            <p>WENZE</p>
            <!-- <img src="./assets/wnz.png" alt=""> -->
        </div>

        <div class="navbar-items">


            <div class="navbar-item" (click)="scrollId('tarif')">
                Tarification
            </div>
            <div *ngIf="!isLocalStorage" (click)="loginForm()" class="login navbar-item">

                <span class="material-icons">
                    person
                </span>
                <!-- <span class="material-icons">
                    expand_more
                </span> -->
            </div>

            <div *ngIf="!isLocalStorage" [routerLink]="['/commencer']" class="navbar-item">
                <span>Commencer</span>
                <span class="material-icons">
                    expand_more
                </span>
            </div>
            <div *ngIf="isLocalStorage" [routerLink]="['/dashboard']" class="navbar-item">
                <span>Mon espace</span>
                <span class="material-icons">
                    person
                </span>
            </div>


        </div>

    </nav>

    <div class="login-form" [ngStyle]="{'display' : connect === false ? 'none' : 'block'}">
        <input type="text" [(ngModel)]="identifiant" placeholder="Identifiant" name="id" class="form-control">
        <input type="password" [(ngModel)]="password" placeholder="Mot de passe" name="mdp" class="form-control">
        <button class="call-to-action" (click)="submit()" >Se connecter</button>
    </div>

    <div class="showcase">

        <div class="boutique">
            <!-- <h1>
                Créez votre espace business en quelques étapes, simples
                et rejoignez notre communauté prospère. <br>
                Votre aventure avec nous commence ici.
            </h1> -->
            <h1>
                Forgez votre univers commercial en seulement quelques étapes stratégiques.
            </h1>

            <p class="slogan">
                Accédez, ajoutez, modifiez, supprimez et gérez facilement votre espace en toute simplicité.
            </p>
            <!-- <p class="slogan">
                Accéder à votre espace, ajouter, modifier et supprimer des articles, ainsi que gérer tous les aspects de votre espace en toute simplicité.
            </p> -->
            <div class="pricing" (click)="scrollId('tarif')">
                voir les tarifs
            </div>

        </div>

        <div class="flex-items">

            <div class="card">
                <h3 class="card-header">
                    Gérer sa boutique en ligne
                </h3>
                <p class="card-body">
                    Simplifiez la gestion de votre boutique
                    en ligne grâce à notre interface conviviale.
                    Téléchargez, organisez et personnalisez vos
                    produits sans expertise technique.
                    Offrez une expérience d'achat exceptionnelle
                    à vos clients avec des descriptions, images
                    et détails de prix facilement ajoutés.
                </p>
            </div>
            <div class="card">
                <h3 class="card-header">Une audience sur les réseaux </h3>
                <p class="card-body">
                    Profitez de notre visibilité sur les
                    réseaux sociaux et de nos campagnes
                    de marketing numérique pour toucher
                    une audience étendue. Partagez vos
                    produits sur vos propres plateformes,
                    accroissant ainsi votre portée et
                    engagement. Notre soutien vous ouvre
                    des opportunités pour élargir votre
                    présence en ligne.
                </p>
            </div>
            <div class="card">
                <h3 class="card-header">Suivre ses ventes à temps réel</h3>
                <p class="card-body">
                    Accédez à des tableaux de bord
                    détaillés offrant des informations
                    cruciales sur vos ventes, stocks et
                    tendances de produits. Cette
                    transparence facilite l'ajustement
                    de votre stratégie de vente pour
                    maximiser vos bénéfices.
                </p>
            </div>
            <div class="card">
                <h3 class="card-header">Accroître sa visibilité</h3>
                <p class="card-body">
                    Bénéficiez d'une visibilité étendue
                    pour vos produits grâce à notre site
                    attirant un large public. Utilisez nos
                    outils de marketing intégrés pour mettre
                    en avant vos offres spéciales, toucher de
                    nouveaux clients potentiels et optimiser
                    votre présence en ligne.
                </p>
            </div>


        </div>

    </div>

    <!-- details -->
    <div class="details">
        <div class="container">
            <p class="header">#SoutenonsNosPME</p>
            <h2>
                Développez et entretenez votre activité avec nos ressources et nos conseiller.
            </h2>


            <div class="formations">
                <div class="card">
                    <p class="spin">01</p>

                    <p class="title">
                        Accompagnement
                    </p>
                    <p>
                        personnalisé en se basant sur les
                        données des tableaux de bord,
                        optimisant ainsi l'expérience client.
                    </p>

                </div>

                <div class="card">
                    <p class="spin">02</p>
                    <p class="title">
                        Assistance
                    </p>
                    <p>
                        précieuse à la prise de décision
                        en utilisant des tableaux de bord
                        détaillés, facilitant ainsi des
                        choix éclairés et stratégiques.
                    </p>

                </div>

                <div class="card">
                    <p class="spin">03</p>
                    <p class="title">
                        Visualisation
                    </p>
                    <p>
                        en temps réel offre
                        une vue instantanée et dynamique des
                        données, facilitant ainsi une
                        compréhension rapide et réactive de
                        la situation.
                    </p>

                </div>





            </div>
        </div>
    </div>

    <!-- Tarifs -->
    <div class="tarifs" id="tarif">
        <p class="header">Tarification</p>

        <p class="paint">TARIFICATION</p>

        <p class="intro" >
            Il est important de noter que nos tarifications de
            maintenance ne concernent pas l'espace boutique en lui-même,
            car chez <b>WENZE</b>, l'accès à l'espace boutique est totalement
            gratuit. <br>Nous croyons en la promotion de l'entrepreneuriat
            en ligne sans entraves initiales.
            Nos tarifs de maintenance ont été conçus pour vous fournir
            un soutien continu et de haute qualité pour maintenir votre
            boutique en ligne <b>WENZE</b>, garantissant ainsi
            une expérience optimale pour vos clients.
        </p>

        <div class="subscriptions">

            <div class="subscription" *ngFor="let sub of subscription; let i = index">

                <p class="subs-title">{{ sub }}</p>

                <p class="price">${{ prices[i] }} <sup>mois</sup></p>

                <p class="text" *ngFor="let text of subs[i]">
                    <span class="material-symbols-outlined">
                        radio_button_checked
                    </span>
                    <span>
                        {{ text }}
                    </span>
                </p>

                <div class="call-to-action">
                    Souscrire
                </div>

            </div>


        </div>

        <p class="intro">
            Ces tarifications de maintenance sont
            conçues pour garantir la stabilité,
            la sécurité et l'évolutivité de votre
            boutique en ligne <b>WENZE</b>,
            vous permettant de vous concentrer sur
            la croissance de votre activité.
            Nous nous engageons à fournir des services de
            haute qualité qui répondent à vos besoins
            tout au long de votre parcours sur <b>WENZE</b>.

            <br> <br>
            Si vous avez des questions supplémentaires
            ou si vous souhaitez en savoir plus sur
            nos tarifications de maintenance,
            n'hésitez pas à nous contacter. <br>
            Notre équipe est là pour vous aider à
            prendre la meilleure décision pour votre entreprise.

        </p>
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="header">
            <p>Conditions générales</p>
            <p>Créez un compte</p>
            <p>Tarification</p>
        </div>

        <p>Tous droits  réservés &copy; <b>2024</b></p>
    </footer>

</div>


<app-loading *ngIf="isLoading" ></app-loading>
