@import "../../config";

.body-element{
    font-family: $font-family;
    position: relative;
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    color: white;
    background: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
    width: 100%;
    height: fit-content;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), transparent;
    inset: 0 0 auto 0;

    .brand{
        cursor: pointer;
        font-weight: bold;
        font-family: $ubuntu;
        img{
            height: 3em;
            width: 3em;
        }
    }

    &-items{
        display: inherit;
        align-items: inherit;
        gap: 0 2em;

        .navbar-item{
            cursor: pointer;
        }

        .login{
            span:first-child{
                color: white;
                background-color: black;
                border-radius: 50%;
                padding: .3em;
            }
        }

        .navbar-item:last-child{
            display: inline-flex;
            align-items: center;
            background-color: black;
            gap: 0 .5em;
            border-radius: 1em;
            padding: .35em 1em;
            color: white;
            border: 1px solid #202020;
        }
    }
}
.login-form{
    width: 25%;
    padding: .3em;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 17%;
    right: -12%;
    z-index: 9999;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), #202120;
    border-radius: 4px;
    transition: all 1s ease-in-out;
    display: block;
    .form-control{
        width: 95%;
        border: none;
        border-radius: 4px;
        padding: 0 .5em;
        height: 2.5em;
        margin: .5em auto;
        box-sizing: border-box;
        outline: 1px solid black;
        z-index: 10000;
    }
    .call-to-action{
        background: $green;
    }

    &::before{
        height: 30px;
        width: 30px;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
        content: "";
        display: block;
        z-index: -9999;
        top: -9%;
        right: 39%;
        transform: rotate(45deg);
        position: fixed;
    }
}




.showcase{
    padding: 20%;
    position: relative;
    font-family: $font-family;
    background: rgb(8,100,195);
    background: radial-gradient(at bottom, rgba(8,100,195,1) 0%, rgba(0,0,0,1) 53%);
    .boutique{
        position: absolute;
        transform: translate(-50%, -50%);
        inset: 35% 50%;
        width: 70%;
        text-align: center;
        p,.slogan,h1{
            color: white;
            line-height: 2em;
            margin: 0 auto;
        }
        h1{
            font-size: 35px;
            font-family: $ubuntu;
            margin: 1.5em auto;
        }
        .slogan{
            width: 70%;
            color: gray;
            font-size: 14px;
        }
        .pricing{
            margin: 2em auto;
            background: black;
            border-radius: 8px;
            padding: 10px;
            width: fit-content;
            color: white;
            cursor: pointer;
        }
    }

    .flex-items{
        width: 80%;
        margin: auto;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1em;
        .card{
            width: 23%;
            padding: 1em;
            border-radius: 8px;
            background: black;
            border: 1px solid #202120;
            &-header{
                text-align: center;
                font-family: $ubuntu;
                margin-bottom: 2em;
            }
            &-body{
                text-align: center;
                color: gray;
                line-height: 30px;
            }
        }
    }

}
.items, .details, .footer, .tarifs{
    padding: 20px;
}


.details{
    margin-top: 9em;
    padding: 2%;
    object-fit: fill;
    background-size: 100% 100%;

    .container{
        width: 70%;
        margin: auto;
        color: white;

        .header{
            margin: 2em 0;
        }
        h2{
            width: 40%;
            margin-bottom: 5em;
            font-family: $ubuntu;
        }

        .formations{
            display: flex;
            align-items: flex-start;
            gap: 2em;
            .card{
                border-radius: 8px;
                padding: 1em;
                border: 1px solid #202120;
                width: 30%;
                color: gray;
                p:first-child{
                    font-size: 2.3em;
                    font-weight: bold;
                    margin-bottom: 3em;
                    color: #202020;
                }
                p.title{
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                }

            }
        }
    }
}
.tarifs{
    width: 90%;
    margin-left: auto;
    margin-top: 8em;
    position: relative;

    .header{
        font-weight: bold;
        text-align: center;
        font-size: 1.55em;
        display: none;
    }

    .paint{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 2%;
        left: 40%;
        z-index: -200;
        line-height: 0;
        font-size: 10.625em;
        font-weight: 900;
        color: #202020;
    }
    .intro{
        margin: 10em auto;
        b{
            color: $green;
        }
    }

    .subscriptions{
        margin: 5em auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1em 3em;
        box-sizing: border-box;
        .subscription{
            border-radius: 8px;
            border: 1px solid #202020;
            padding: 1em;
            width: 25%;
            text-align: left;
            height: 32em;
            position: relative;
            &:hover{
                box-shadow: $green 0px 0px 0px 3px;
                cursor: pointer;
            }
            &:nth-child(2){
                background-color: #202120;
                color: $green;
                border: none;
                .call-to-action{
                    background: $green;
                    color: white;
                    font-weight: bolder;
                }
            }
            .subs-title{
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                font-family: $ubuntu;
                font-size: 20px;
                margin-bottom: 1em;
            }
            .price{
                font-weight: bold;
                margin: 2em auto;
                font-size: 18px;
            }
            .text{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
                font-family: $font-family;
                font-weight: bolder;
            }

            .call-to-action{
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                bottom: -3%;
                width: 92%;
                margin: auto;
                text-align: center;
                background: #202020;
            }
        }
    }
}

.footer{
    // width: 85%;
    margin: 7em 0 2em auto;
    border-top: 1px solid #f2f2f2;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        p{
            color: white;
            text-align: left;
        }
    }
    p:last-child{
        text-align: center;
    }
}

.body-element > .showcase, .body-element > .details,
.body-element > .tarifs, .body-element > .footer{
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
.body-element > .scroller{
    animation: scroller linear both;
    animation-timeline: scroll();
    background: $green;
    height: 10px;
    position: sticky;
    top: 0;
    z-index: 99999999999;
}

@keyframes scroller {

    0% { width: 0 }
    10% { background: #8FB227; }
    20% { background: #27B24C; }
    30% { background: #3E6047; }
    40% { background: #275E76; }
    50% { background: #4B1D67; }
    60% { background: #B72560; }
    70% { background: #301D54; }
    90% { background: $green; }
    100% { width: 100% }

}
@keyframes fade-in {

    from { scale: .8; opacity: 0; }
    to { scale: 1; opacity: 1; }

}
