<div class="body">

    <mat-tab-group>

        <mat-tab label="Non vendus">

            <div class="cards">

                <input type="search" class="form-control" name="search" placeholder="Nom de produit">

                <app-card></app-card>


            </div>

        </mat-tab>

        <mat-tab label="Commande">

            <div class="cards">

                <input type="search" class="form-control" name="search" placeholder="Numéro de la commande">

                <div class="commandes">

                    <div class="commande">
                        <p>N° COMMANDE : <b>V-aX~vYZ(1_B0=(°=)xV</b></p>
                        <p>DATE D'AJOUT : <b>08/08/2023</b></p>
                    </div>

                </div>

            </div>


        </mat-tab>



        <mat-tab label="Ajouter des articles">
            <button [ngStyle]="{'display' : _index <=10 ? 'block' : 'none'}" (click)="anotherArticle()" class="call-to-action">Ajouter un article</button>
            <div #addArticle>

            </div>

        </mat-tab>


    </mat-tab-group>



</div>
