@import '../../config';

.body{
    height: 100vh;
    width: 100%;
    font-family: $font-family;
}

.container{
    width: 90%;
    margin: auto;
}

.header{
    text-align: left;
    margin: 1em 0;

    & > b{
        color: $green;
    }
}
.header + p, ol + p{
    margin: 1em 0;
}
form{
    button{
        margin: 1em 0 2.5em 1.25em;
    }
}

.form-group{
    margin: 1.25em 0;

    p.info{
        color: $green;
        font-size: 13px;
        margin-left: 1em;
    }

    .form-control, select{
        width: 30%;
        border: none;
        outline: 1px solid #f2f2f2;
        height: 2.5em;
        border-radius: 4px;
        padding: 0 1em;
        margin-left: 1em;

        &:focus{
            outline: 1px solid $green;
        }
    }
    select{
        text-transform: uppercase;
    }
}
.file{
    display: inline-flex;
    align-items: center;
    gap: 0 1.5em;

    .televerser{
        background-color: #f2f2f2;
        padding: 10px 2em;
        cursor: pointer;
        border-radius: 4px;
        &:hover{
            padding: 10px 2em;
            border: 1px solid $green;
            color: $green;
            font-weight: bold;
        }
    }
}
